@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif !important;
}

html,
body,
form,
main {
  height: 100%;
}

.pro-sidebar-inner {
  background-color: #fff !important;
  @apply !text-gray-600;
}

.pro-menu-item,
.pro-item-content,
.pro-icon-wrapper,
.keychainify-checked {
  @apply !text-gray-600 hover:!text-black;
}

.pro-inner-list-item {
  background-color: #f9fbfd !important;
}
.inline-imp,
.inline-imp > *,
.inline-imp > * > * {
  display: inline !important;
}

.para-bottom p,
.para-bottom h2 {
  @apply !pb-3 ml-2;
}

.pro-menu-item.active,
.link_nav_bar.active {
  @apply text-[#91b841] !font-semibold;
}

#nprogress .bar {
  height: 6px !important;
  background-color: #242547 !important;
}

#nprogress .spinner {
  @apply !border-blue-500 !border-2  !rounded-md !p-2 !bg-gray-100 !right-1/2;
}

#nprogress .spinner-icon {
  @apply !border-t-blue-500 !border-l-blue-500;
}

#nprogress .peg {
  box-shadow: none !important;
}
