@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cerebri Sans", sans-serif;
}

.pro-sidebar-inner {
  background-color: #fff !important;
  @apply !text-gray-600;
}

.pro-menu-item,
.pro-item-content,
.pro-icon-wrapper,
.keychainify-checked {
  @apply !text-gray-600 hover:!text-black;
}

.pro-inner-list-item {
  background-color: #f9fbfd !important;
}
.inline-imp,
.inline-imp > *,
.inline-imp > * > * {
  display: inline !important;
}

.para-bottom p,
.para-bottom h2 {
  @apply !pb-3 ml-2;
}
